<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나의 블로그</title>
    <link
      href="{{ url_for('static',path='css/blogstyle.css') }}"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2b7b5f2141.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <h1>윤성의 블로그</h1>
      <nav>
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#">글 목록</a></li>
          <li><a href="#">소개</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>내 소개</h2>
      <p>컴퓨터공학과 21학번 조윤성입니다.</p>

      <article>
        <h3>어제 한 일</h3>
        <ul>
          <li>밥 챙겨먹기</li>
          <li>술 챙겨먹기</li>
          <li>동아리 공연</li>
        </ul>
      </article>
      <article>
        <h3>내 사진</h3>
        <img
          src="/Users/joyunseong/Desktop/CSS1/멋사 과제/IMG_9288.jpg"
          alt="사진이 어디갔지"
          class="b1"
        />
        <img
          src="/Users/joyunseong/Desktop/CSS1/멋사 과제/IMG_9289.JPG"
          alt="사진이 어디갔지"
          class="b2"
        />
      </article>
    </main>
    <hr />
    <footer>
      <a href="https://www.instagram.com/y_seong_9737/"
        >Instagram: y_seong_9737</a
      >
      <br />
      <a href="https://github.com/unsag">Github</a>
      <i class="fa-brands fa-instagram"></i>
    </footer>
  </body>
</html>
